<!DOCTYPE html>
<html>
  
<head>
    <title>
      服务监控平台--登录
    </title>

    <link href="http://fonts.googleapis.com/css?family=Lato:100,300,400,700" media="all" rel="stylesheet" type="text/css" />
    <link href="/static/stylesheets/bootstrap.min.css" media="all" rel="stylesheet" type="text/css" />
    <link href="/static/stylesheets/font-awesome.css" media="all" rel="stylesheet" type="text/css" />
    <link href="/static/stylesheets/se7en-font.css" media="all" rel="stylesheet" type="text/css" />
    <link href="/static/stylesheets/style.css" media="all" rel="stylesheet" type="text/css" />

    <script src="http://code.jquery.com/jquery-1.10.2.min.js" type="text/javascript"></script>
    <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js" type="text/javascript"></script>
    <script src="/static/javascripts/bootstrap.min.js" type="text/javascript"></script>
    <script src="/static/javascripts/modernizr.custom.js" type="text/javascript"></script>
    <script src="/static/javascripts/main.js" type="text/javascript"></script>

    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport">
  </head>
  <body class="login2">
    <!-- Login Screen -->
    <div class="login-wrapper">
      <a href="index.html"><img width="100" height="30" src="/static/images/logo-login%402x.png" /></a>

      <form onsubmit="return false;" method="post">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon"><i class="icon-envelope"></i></span>
              <input class="form-control" placeholder="输入账号名称" type="text" id="username" value={{.username}}>
          </div>
        </div>
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon"><i class="icon-lock"></i></span>
              <input class="form-control" type="password" id="pwd" value={{.password}}>
          </div>
        </div>
        <a class="pull-right" href="#">忘记密码?</a>
        <div class="text-left">
          <label class="checkbox"><input type="checkbox" id="remember" {{.check}}><span>记住密码</span></label>
        </div>
        <input class="btn btn-lg btn-primary btn-block" type="submit" value="登录" onclick="doSubmit()">
      </form>

      <p>
        还没有账号？
      </p>
      <a class="btn btn-default-outline btn-block" href="signup2.html">现在注册</a>
    </div>
    <!-- End Login Screen -->
  </body>
<script>
    function doSubmit(){
        // alert($("input[id='remember']").is(':checked'));
        // return;
        $.post("/",{
            "username":$("#username").val(),
            "password":$("#pwd").val(),
            "remember":$("input[id='remember']").is(':checked')==false?null:"on"

        },function(resultData){
            if(resultData=="failed"){
                alert("用户名或密码错误");
            }else if(resultData=="success"){
                window.location.href="/service/index";
            }
        })

    }
</script>
</html>